body{
  background-color: #111; 
}

#page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(210, 210, 0);
}

.link-to {
  color: #eee;
}