body{
  background-color: #111;
}

.navbar-logo {
  height: 15vh;
}

.page-container {
  min-width: 100vw;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  
  color: #eee;
}

.page-title {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(210, 210, 0);
}

.link-to {
  color: #eee;
}

.trash-can {
  position: absolute;
  right: 1em;
  bottom: 0.25em;
  padding-block: 0.25em;
  border-radius: 10%;
  width: 1.25em;
  transition: transform 0.25s;
}

.trash-can:hover {
  cursor: pointer;
  transform: scale(1.25);
}

.edit-profile {
  width: 50vw;
  padding-block: 2em;
  display: flex;
  justify-content: space-around;
}

.edit-profile-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}