.profile-alert-message {
   font-size: 1.25em;
   left: 0;
   bottom: 10vh;
   border-radius: 0.2em;
   margin-inline-start: 1.25em;
}

.message-out {
   opacity: 0;
   
   transform: translateY(1em);
   transition: opacity 1s, transform 1s;;
}

.message-in {
   opacity: 1;
   transform: translateY(-1em);
   transition: opacity 1s, transform 1s;
}