#PS2Form-container {
  background-image: url("/ps2sys.gif");
  background-repeat: no-repeat;
  background-size:120%;
  background-position: center;
  

  width: 500px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;

  border-radius: 15px;
  box-shadow: 0 0 20px rgb(255, 255, 255);
}

form {
   width: 50%;
   margin-top: 5%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   transform: scale(0.75);
}

.label-input {
  padding: 4px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,0.9);
}

input:focus{
  outline: none;
}